@charset "UTF-8";

h1 {
	text-align: center;
	margin: 0 auto;
	font-family: 'Alkatra', cursive;
	font-size: 40px;
}

.password_all {
	text-align: center;
	margin: 0 auto;
	font-family: 'Alkatra', cursive;
}

.main{
	margin: 20% auto auto auto;
}

/*テキストボックス*/
.cp_iptxt {
	position: relative;
	width: 40%;
	margin: 20px auto;
}
.cp_iptxt input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.ef input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}




/*送信ボタン*/
.button {
	display: inline-block;
	border-radius: 5%;
	/* 角丸       */
	font-size: 13pt;
	/* 文字サイズ */
	text-align: center;
	/* 文字位置   */
	cursor: pointer;
	/* カーソル   */
	padding: 12px 12px;
	/* 余白       */
	background: #000000;
	/* 背景色     */
	color: #ffffff;
	/* 文字色     */
	line-height: 1em;
	/* 1行の高さ  */
	transition: .3s;
	/* なめらか変化 */
	box-shadow: 6px 6px 3px #666666;
	/* 影の設定 */
	border: 2px solid #000000;
	/* 枠の指定 */
	margin-top: 20px;
}
.button:hover {
	box-shadow: none;
	/* カーソル時の影消去 */
	color: #000000;
	/* 背景色     */
	background: #ffffff;
	/* 文字色     */
}